<p id="notice"><%= notice %></p>

<h1>«Только после окончания волн мы увидим кто купался без трусов»</h1>
<p>Цитата принадлежит У.Баффету</p>
<p>Автор данного приложения — Алексей Колесников</p>
<img src = "./pic1.jpg">
<p><a href = "/cv">мое резюме<a></p>
<p><a href = "/social">я в соцсетях<a></p>

<br>


