<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Колесников Алексей</title>
</head>
<body>
<div>
  <h1>Колесников Алексей</h1>
  <h2>Предприниматель и маркетолог (в последнее время)</h2>
  <img src="pic1.jpg" alt="[Фото]"/>
</div>
<div>
  <h3>О себе</h3>
  <p>Занимаюсь созданием и развитием компаний. Последний проект — Рокетбанк, который можно оценить по адресу rocketbank.ru</p>
  <p>Профессиональные навыки: финансовый анализ, инвестиционный анализ, математическое моделирование, макроэкономика, микроэкономика, продажи, маркетинг. С недавних пор — программирование на базовом уровне</p>
</div>
<div>
  <h3>Навыки<h3>
  <ul>
    <li>Ruby</li>
    <li>Excel</li>
    <li>Photoshop</li>
  </ul>
</div>

<div>
  <h3>Места работы</h3>

  <ul>
  <li><p>сентябрь 2012 — по настоящее время</p>
  <p><a href="http://rocketbank.ru">Рокетбанк</a></p></li>

  <li><p>декабрь 2010 — май 2012</p>
  <p><a href="http://groupon.ru">Групон Россия</a></p></li>
  </ul>
  
<div>

</body>
</html>
